<div class="SignUpPage">
  <h2 class="SignUpHeader">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "SignUpForm" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="SignUpField">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "SignUpInput" %>
    </div>

    <div class="SignUpField">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "SignUpInput" %>
    </div>

    <div class="SignUpField">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "SignUpInput" %>
    </div>

    <div class="SignUpField">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "SignUpInput" %>
    </div>

    <div class="SignUpActions">
      <%= f.submit "Sign up", class: "SignUpButton" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
