<nav class="CatNav">
<p class="CatNavLines">|||</p>
<p class='CatNavHeading'>CATEGORIES</p>
<%= button_to "Out", destroy_user_session_path, method: :delete, class: 'SignOut' %>
</nav>
<div class="CatList">
<% @categories.each do |category| %>
  <% total_price = category.transactions.sum(:transaction_price) %>
  <div class="CatContent" onclick="window.location.href='/transaction?category_id=<%= category.id %>';">
    <div class="ImgDiv">
    <% if category.image.present? %>
      <img src="<%= url_for(category.image) %>">
    <% else %>
      <!-- Placeholder image if no image is present -->
      <img src="/assets/placeholder_image.jpg">
    <% end %>
    </div>
    <div class="CatDesc">
      <div class="CatTitle">
        <%= category.name %>
      </div>
      <div class="CatDate">
        <%= category.created_at&.strftime("%d %b %Y") %>
      </div>
    </div>
    <div class="CatPrice">$<%= total_price %></div>
  </div>
<% end %>

</div>
<div class="CatFoot">
<%= link_to "Add new Category", new_category_path, class: "AddCatButton" %>
</div>