<nav class="ACatNav">
  <p class="ACatNavLines">|||</p>
  <p class='ACatNavHeading'>ADD CATEGORIES</p>
  <%= button_to "Out", destroy_user_session_path, method: :delete, class: 'ASignOut' %>
</nav>

<%= form_for @category, url: categories_path do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <%= f.hidden_field :created_at, value: Time.current %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
